@import "../vars";
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  &::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
  }
  &:-moz-placeholder{
    color: #666;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: #666;
    opacity: 1;
  }
  &:-ms-input-placeholder{
    color: #666;
    opacity: 1;
  }
}



html, body{
  height: 100%;
}
body{
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;

  overflow-x: hidden;
  & input:focus:required:invalid,
  & textarea:focus:required:invalid{
    color: #666;
  }
  & input:required:valid,
  & textarea:required:valid{
    color: #666;
  }
}
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}
.text-center{
  text-align: center;
}
::selection{
  background-color: $accent;
  color: #fff
}