
@mixin typography($font-name, $font-src, $dir : '../fonts/') {
  @font-face {
    font-family: $font-name;
    src: url( $dir + $font-src + ".eot");
    src:  url($dir + $font-src + ".eot?#iefix") format('embedded-opentype'),
          url($dir + $font-src + ".woff") format('woff'),
          url($dir + $font-src + ".ttf") format('truetype'),
          url($dir + $font-src + ".svg#myFonts") format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@function convert($value, $currentUnit, $convertUnit){
  @if $currentUnit == px{

    @if $convertUnit == ems{
      @return $value / 16+em;
    }
    @else if $convertUnit == percent{
      @return percentage($value / 16);
    }

  }@else if $currentUnit == ems{

    @if $convertUnit == px{
      @return $value * 16+px;
    }
    @else if $convertUnit == percent{
      @return percentage($value);
    }

  }@else if $currentUnit == percent{

    @if $convertUnit == px{
      @return $value * 16 / 100+px;
    }
    @else if $convertUnit == ems{
      @return $value / 100+em;
    }

  }@else if $currentUnit == pts{

    @if $convertUnit == px{
      @return $value * 1.3333+px;
    }
    @else if $convertUnit == ems{
      @return $value / 12+em;
    }
    @else if $convertUnit == percent{
      @return percentage($value / 12)
    }
  }
}

